@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar shadow-lg brand-sidebar@(ToggleBrandTheme.SideBar)">
        <div class="brand-background@(ToggleBrandTheme.Brand) px-4 navbar navbar-dark">
            <a class="navbar-brand d-flex align-items-center" href="">
                <img src="/img/logo.png" class="img-fluid me-2" style="height: 30px; width: 30px" alt="fitness-planer-logo">
                <span class="fs-6 fw-bold">Mein Fitness Planer</span>
            </a>
        </div>
        <NavMenu />
    </div>

    <main>
        <div class="brand-border@(ToggleBrandTheme.BrandBorder)"></div>
        <div class="sticky-top top-row px-4 @ToggleBrandTheme.TopRow">
            <ThemeSwitcher OnThemeChanged="OnThemeChanged" Position="DropdownMenuPosition.End" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Es ist ein Fehler ist aufgetreten
    <a href="." class="reload">Aktualisieren</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    private BrandTheme ToggleBrandTheme { get; set; } = new();

    private void OnThemeChanged(string themeName)
    {
        if(themeName == "dark")
        {
            ToggleBrandTheme = new()
            {
                TopRow = "bg-dark",
                SideBar = "-dark",
                Brand = "-dark",
                BrandBorder = "-dark"
            };
        }
        else
        {
            ToggleBrandTheme = new();
        }
    }
}