<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill mb-4 fs-5" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/myplans" Match="NavLinkMatch.All">
                <span class="bi bi-journals mb-4 fs-5"></span> Meine Pläne
            </NavLink>
        </div>
    </nav>
</div>

