<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>

        <p class="components-reconnect-first-attempt-visible">
            Verbindung zum Server wird wiederhergestellt...
        </p>

        <p class="components-reconnect-repeated-attempt-visible">
            Wiederverbindung fehlgeschlagen... erneuter Versuch in <span id="components-seconds-to-next-attempt"></span> Sekunden.
        </p>

        <p class="components-reconnect-failed-visible">
            Wiederverbindung fehlgeschlagen.<br />Bitte erneut versuchen oder die Seite neu laden.
        </p>

        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Erneut versuchen
        </button>

        <p class="components-pause-visible">
            Die Sitzung wurde vom Server pausiert.
        </p>

        <button id="components-resume-button" class="components-pause-visible">
            Fortsetzen
        </button>

        <p class="components-resume-failed-visible">
            Die Sitzung konnte nicht fortgesetzt werden.<br />Bitte laden Sie die Seite neu.
        </p>
    </div>
</dialog>