@page "/mymeals"

<PageTitle>Mahlzeiten</PageTitle>

@inject ApplicationDbContext Context
@inject ToastsService ToastService
@inject IJSRuntime JS

<h1>Meine Mahlzeiten</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <h4 class="mb-3">Tägliches Ernährungsziel</h4>
        <div class="row">
            <div class="col-12 col-md mb-3">
                <div class="card h-100">
                    <div class="card-body bg-success-subtle shadow d-flex align-items-start gap-2">
                        <i class="bi bi-lightning-fill fs-1"></i>
                        <div class="flex-grow-1">
                            <b>Kalorien:</b> 
                            <div>400/@NutritionGoalView.Calories kcal</div>
                            <div class="progress mt-1" role="progressbar">
                                <div class="progress-bar bg-success" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md mb-3">
                <div class="card h-100">
                    <div class="card-body bg-warning-subtle shadow d-flex align-items-start gap-2">
                        <i class="bi bi-flower1 fs-1"></i>
                        <div class="flex-grow-1">
                            <b>Kohlenhydrate:</b>
                            <div>12/@NutritionGoalView.Carbohydrates g</div>
                            <div class="progress mt-1" role="progressbar">
                                <div class="progress-bar bg-warning" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md mb-3">
                <div class="card h-100">
                    <div class="card-body bg-danger-subtle shadow d-flex align-items-start gap-2">
                        <i class="bi bi-egg-fried fs-1"></i>
                        <div class="flex-grow-1">
                            <b>Proteine:</b> 
                            <div>30/@NutritionGoalView.Protein g</div>
                            <div class="progress mt-1" role="progressbar">
                                <div class="progress-bar bg-danger" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md mb-3">
                <div class="card h-100">
                    <div class="card-body bg-primary-subtle shadow d-flex align-items-start gap-2">
                        <i class="bi bi-droplet-fill fs-1"></i>
                        <div class="flex-grow-1">
                            <b>Fett:</b> 
                            <div>12/@NutritionGoalView.Fats g</div>
                            <div class="progress mt-1" role="progressbar">
                                <div class="progress-bar bg-primary" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-warning shadow" @onclick="() => OpenModal(NutritionGoalView)" data-bs-toggle="modal" data-bs-target="#edit-modal">
                    Ernährungsziel bearbeiten
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit-NutritionGoal-Modal -->
<div class="modal fade" id="edit-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold fs-5">
                    Ernährungsziel bearbeiten
                </h1>
            </div>
            <div class="modal-body">
                <!-- EditForm bindet nun an das temporäre Bearbeitungsobjekt -->
                <EditForm Model="EditingnutritionGoal" OnValidSubmit="EditNutritionGoal">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label class="form-label">Kalorien</label>
                        <InputNumber @bind-Value="EditingnutritionGoal.Calories" class="form-control" min="0" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Kohlenhydrate</label>
                        <InputNumber @bind-Value="EditingnutritionGoal.Carbohydrates" class="form-control" min="0" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Proteine</label>
                        <InputNumber @bind-Value="EditingnutritionGoal.Protein" class="form-control" min="0" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Fett</label>
                        <InputNumber @bind-Value="EditingnutritionGoal.Fats" class="form-control" min="0" required />
                    </div>

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-warning w-100">
                                Bearbeiten
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">Abbrechen</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <h4 class="mb-3">Mahlzeitenerfassung</h4>

        <!-- Prev-and-Next-buttons -->
        <div class="row mb-4">
            <div class="col-4 text-start">
                <button class="btn btn-outline-primary w-100 shadow">
                    <i class="bi bi-caret-left-fill"></i>
                    Vorheriger Tag
                </button>
            </div>
            <div class="col-4 text-center">
                <span class="fw-bold fs-5">@DateTime.Now.ToString("dddd, dd MMMM yyyy")</span>
            </div>
            <div class="col-4 text-end">
                <button class="btn btn-outline-primary w-100 shadow">
                    <i class="bi bi-caret-right-fill"></i>
                    Nächster Tag
                </button>
            </div>
        </div>

        <!--Meals lists-->
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>Frühstück</strong>
                        <button class="btn btn-sm btn-success">+</button>
                    </div>
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Banane</div>
                                <div class="d-flex w-100">
                                    <div class="pe-2 flex-grow-1">Kalorien: 100 Kcal</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Kohlenhydrate: 14g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Proteine: 1g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Fett: 3g</div>
                                </div>
                            </div>
                            <button class="btn btn-sm">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </li>
                    </ol>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>Mittagessen</strong>
                        <button class="btn btn-sm btn-success">+</button>
                    </div>
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Hähnchen mit Reis</div>
                                <div class="d-flex w-100">
                                    <div class="pe-2 flex-grow-1">Kalorien: 100 Kcal</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Kohlenhydrate: 14g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Proteine: 1g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Fett: 3g</div>
                                </div>
                            </div>
                            <button class="btn btn-sm">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </li>
                    </ol>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>Abendessen</strong>
                        <button class="btn btn-sm btn-success">+</button>
                    </div>
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Salat</div>
                                <div class="d-flex w-100">
                                    <div class="pe-2 flex-grow-1">Kalorien: 100 Kcal</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Kohlenhydrate: 14g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Proteine: 1g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Fett: 3g</div>
                                </div>
                            </div>
                            <button class="btn btn-sm">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </li>
                    </ol>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>Zusätzliche Mahlzeiten</strong>
                        <button class="btn btn-sm btn-success">+</button>
                    </div>
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Mantaplatte</div>
                                <div class="d-flex w-100">
                                    <div class="pe-2 flex-grow-1">Kalorien: 100 Kcal</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Kohlenhydrate: 14g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Proteine: 1g</div><div class="vr"></div>
                                    <div class="px-2 flex-grow-1">Fett: 3g</div>
                                </div>
                            </div>
                            <button class="btn btn-sm">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<Toasts class="p-3" Messages="ToastService.Messages" AutoHide="true" StackLength="3" Placement="ToastsPlacement.BottomCenter" />

@code {
    private NutritionGoal NutritionGoalView { get; set; } = new();
    private NutritionGoal EditingnutritionGoal { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        NutritionGoalView = Context.NutritionGoals.First();
    }

    private void OpenModal(NutritionGoal nutritionGoalCopy)
    {
        // Create a temporary clone for editing
        EditingnutritionGoal = new NutritionGoal
        {
            Id = nutritionGoalCopy.Id,
            Calories = nutritionGoalCopy.Calories,
            Carbohydrates = nutritionGoalCopy.Carbohydrates,
            Protein = nutritionGoalCopy.Protein,
            Fats = nutritionGoalCopy.Fats
        };
    }

    private async Task EditNutritionGoal()
    {
        // Edit existing NutritionGoal
        if (EditingnutritionGoal.Id != 0)
        {
            // Load the tracked entity from the database
            var nutritionGoalFromDb = await Context.NutritionGoals.FindAsync(EditingnutritionGoal.Id);

            if (nutritionGoalFromDb != null)
            {
                // Copy updated values
                nutritionGoalFromDb.Calories = EditingnutritionGoal.Calories;
                nutritionGoalFromDb.Carbohydrates = EditingnutritionGoal.Carbohydrates;
                nutritionGoalFromDb.Protein = EditingnutritionGoal.Protein;
                nutritionGoalFromDb.Fats = EditingnutritionGoal.Fats;

                ToastService.ShowMessage(ToastType.Warning, "Ernährungsziel bearbeitet", "");

                // Update the view model
                NutritionGoalView = nutritionGoalFromDb;
            }

            await Context.SaveChangesAsync();
        }

        await JS.InvokeVoidAsync("closeModal", "edit-modal");
    }
}